installer/build/
installer/validation-install/
installer/ffmpeg/ffmpeg.exe
test-output/
async-test-output/
async-test-output-2/
benchmark-output/
*.aprlog
*.aseprite
*.mp4
*.log
__pref.lua
.process-recorder-data/
